.card{cursor:pointer; border-radius: 10px; top:0px; width:100%;transition: 0.3s;border: 1px solid #f9d48d; position: relative; display:flex; align-items: center; flex-direction: column; height: 180px; margin-bottom: 20px; background-color:white; box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;}
.card img{width:calc(100% + 8px);border: 5px solid white;transition: 0.3s; height: calc(100% + 8px); position: relative; top:-4px; left:-4px; border-radius: 50%; }
.img{width:120px;background-color: #f9d48d; height:120px; transition: 0.3s; position: absolute; top:-60px; left:calc(50% - 60px);  border-radius: 50%;padding: 5px; border: 1px solid #f9d48d; }
.blue{width:0px; height:0px;transition: 0.3s; position: absolute; top:0px;  left:calc(50%); border-radius: 50%;   background-color: white;}
.card h1{margin-top: 70px;text-transform: uppercase; font-size: 20px; transition: 0.3s;color:#244BA4;}
.card:hover .blue{top:0px; left:0px;  background-color: #f9d48d;border-radius: 5px; width:calc(100%); height:calc(100%);}
.card:hover .img{border-color:white;  background-color: white;}
.card:hover h1{color:white; z-index: 345;}
.card:hover img{border-color: #f9d48d;}
.card:hover{box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;}
