.card{cursor:pointer; border-radius: 10px; top:0px; width:100%;transition: 0.3s;border: 1px solid transparent; position: relative; display:flex; align-items: center; flex-direction: column; height: 200px; margin-bottom: 20px; background-color:white;}
.card img{width:calc(100% + 8px);border: 5px solid #153265;transition: 0.3s; height: calc(100% + 8px); position: relative; top:-4px; left:-4px; border-radius: 50%; }
.card ul{z-index: 3333 !important;}
.img{width:120px;background-color: white; height:120px; transition: 0.3s; position: absolute; top:calc(50% - 60px); left:calc(-60px);  border-radius: 50%;padding: 5px; border: 2px solid white; }
.blue{width:0px;  z-index: 0; height:0px;transition: 0.3s; position: absolute; top:50%;  left:0; border-radius: 50%;   background-color: white;}
.card h1{margin-top: 20px; padding-left:65px !important; font-weight:600; padding-right: 20px; text-align: center; text-transform: uppercase; font-size: 20px; transition: 0.3s;color:#153265;}
.card:hover .blue{top:0px;  background-color: #153265;border-radius: 30px;  width:calc(100%); height:calc(100%);}
.card:hover .img{border-color:white; border-width: 2px;  background-color: white;}
.card:hover h1{color:white; z-index: 345 !important;}
.card:hover img{border-color: #153265;}
.card ul li{padding-left: 50px; z-index: 3334 !important; transition: 0.3s; text-align: left; color: #153265 !important; font-size:16px !important;}
.card:hover ul li{color:white !important;}
.card1{height:490px;transition: 0.5s; position: relative; border-radius: 5px;box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;}
.card1 .img1 img{width:100%; height:180px; border-radius: 5px 5px 0px 0px; position: static;}
.card1 ul{margin-top: 20px;}
.card1 .img1{position: relative;}
.card1::after{content: ""; transition: 0.5s; position: absolute; width:100%; height:180px; background-color: rgba(255, 255, 255, 0.392); top:0px; left:0px;}
.card1:hover:after{height:60px; top:calc(120px); background-color: rgba(255, 255, 255, 0.727);}
.card1 li{text-align: center;transition: 0.5s; font-size: 20px; color:#153265}
.card1 h1{text-align: center; margin-top: 20px; font-weight: 600; font-size: 27px; color:#153265}
.narx{position: absolute; top:90px; width:100%; text-align: center; font-size: 25px; z-index: 234; color: #153265; transition: 0.5s;}
.card1:hover .narx{top:130px;}
.card1:hover{
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
background-color: #153265;
}
.card1:hover li{color:white}
.card1:hover h1{color:white}